*[hidden] { display: none; }

.btn {cursor: pointer;}

.result-panel {min-height: 500px;}

.description {width:300px;}

#usa-map {
    height:450px;
    width:650px;
}
.states-collection {
    height:500px;
    overflow:auto;

}

.state{
    stroke-width:2px;
    stroke:#fff;
    fill:#78909c;
    transform: scale(.4);
}
.state:hover {
    fill:#b0bec5;
 }

 .state-selected {
     fill:red;
 }

 .collection-item {cursor:pointer; background:none !important;}
.collection .collection-item:hover {background-color:#90caf9;}

body {background: url(../assets/bg_beer.jpg) #000 no-repeat;
    background-size: 100%;
}
.result-panel {float:right; width:500px; max-height:800px; overflow: auto;}
.nav-wrapper {background: rgba(0, 0, 0, 0.8) !important}
/*.card-panel {background: rgba(0, 0, 0, 0.8) !important; width:400px;}*/
