*[hidden] { display: none; }

.btn {cursor: pointer;}

.result-panel {min-height: 500px;}

.description {width:450px;}

#usa-map {
    height:450px;
    width:650px;
}
.states-collection {
    height:500px;
    overflow:auto;

}

.state{
    stroke-width:2px;
    stroke:#fff;
    fill:#78909c;
    transform: scale(.4);
}
.state:hover {
    fill:#b0bec5;
 }

 .state-selected {
     fill:red;
 }

 .collection-item {cursor:pointer;}
.collection .collection-item:hover {background-color:#90caf9;}

body {background: url(../assets/bg_beer.jpg) #000 no-repeat;
    background-size: 100%;
}
